.rank-container {
  width: 300px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 10px;
}

.rank-list {
  list-style-type: none;
  padding-left: 0;
  font-family: "Nanum", sans-serif;
  color: #333;
}

.rank-word {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  padding: 17px;
  margin-bottom: 20px;
  background-color: #f7f7f7;
}

.rank-index {
  font-weight: bold;
  margin-left: 10px;
}

.rank-keyword {
  flex-grow: 1;
  margin-left: 10px;
}

.rank-count {
  text-align: right;
  margin-right: 10px;
  font-size: 12px;
  color: #555;
  border-radius: 30px;
  background-color: white;
  padding: 7px;
}
